* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-rendering: optimizeLegibility;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #444;
    color: #fff;
    font-family: "VictorMono Nerd Font", "Consolas";
}

div {
    margin: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

input {
    padding: 10px 20px;
}

/* TODO: Create more components */